/* fonts and background-colors */
body{
 margin: 0 auto;
 font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Fjalla One", sans-serif;
}

header, .hero{
  background-color: #2C2C2C;
}

.certificates{
  background-color: #3C6E71;
}

.contact{
  background-color: #C6C6C6;
}

.footer{
  background-color: #284B63;
}

                    /* flex */

.header, .certificates_div, .projects_div, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.certificates, .projects, .form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container{
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  width: 80%;
  margin: 0 auto;
}
                    /* header */
.header{
  border-bottom: 20px double white;
}

.header_div{
  width: 230px;
  height: 70px;
}

.logo{
  background-image: url(../images/logo.png);
  background-size: 200px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 70px;
  display: inline-block;
  padding: 0px 15px;
  /* border-right: 5px solid white; */
}

.header_nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
  flex-direction: row;
}

.header_nav li{
  margin: 0px 15px;
  list-style: none;
}

.header_nav li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

                    /* hero */

.hero h1{
  width: 770px;
  margin: 0px;
  font-size: 50px;
  color: white;
  font-weight: bold;
  line-height: 80px;
}

.hero h1 strong{
  color: #456A8C;
}

.platzi_color{
  color: #98ca3f !important;
}

.hero_fig{
  width: 500px;
  height: 550px;
}

.hero_img{
  display: inline-block;
  background-position: center;
  background-position-y: -175px;
  background-position-x: -230px;
  background-repeat: no-repeat;
  background-image: url(../images/hero.jpg);
  background-size: 1008px 756px;
  width: 500px;
  height: 550px;
  object-fit: cover;
}


                    /* certificates */

.certificates h2{
  margin: 50px 0px 0px 0px;
  font-size: 80px;
  color: white;
}

.certificates_div figure{
  margin: 50px 0px;
  /* padding: 25px; */
  height: 425px;
  width: 550px;
}

.certificates_div figure img{
  box-shadow: 3px 5px 33px #343434;
}

                    /* projects */
.projects h2{
  color: #3C6E71;
  font-size: 80px;
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.project_div{
  margin: 0px;
  width: 500px;
  height: 250px;
  background-position: center;
  display: inline-block;
  object-fit: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  background-position: top;
  background-color: #2C333C;
}

.project_amd_logo{
  background-image: url(../images/amd_logo.png);
  background-size: 737.5px 528px;
  background-position-y: -140px;;
}

.project_web_developer_platzi_logo{
  background-image: url(../images/web_developer_platzi_logo.png);
  background-size: 368.75px 264px;
  background-position-y: -20px;
}

.project_github_logo{
  background-image: url(../images/github_logo.png);
  background-size: 368.75px 264px;
}

.projects_div{
  margin: 0px auto;
  width: auto;
  align-items: flex-start;

  /* height: 250px; */
  /* background-color: #2C333C; */
}

.project_section{
border-radius: 15px;
overflow: hidden;
width: 500px;
background-color: #F1F1F1;
margin: 50px 0px;
/* height: 700px; */
}

.project_info{
  background-color: white;
  height: 280px;
  margin: 0px 35px 30px 35px;
  margin-top: -50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project_info h3{
  font-weight: normal;
  margin: 25px 0px 0px 0px;
  font-size: 22px;
}

.project_info p{
  text-align: left;
  font-size: 20px;
  margin: 0px auto;
  padding: 0px 15px;
}

.project_info a{
  text-decoration: none;
  color: #009FFD;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 25px;
}

                    /* contact */
.form h3{
  margin: 50px auto 0px;
  font-size: 80px;
  font-weight: normal;
}

.form_box{
  margin: 10px 0px;
  padding-left: 30px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: 5px;
  width: 200px;
  height: 35px;
  /* border: 1px solid gray; */
}

.form_button{
  background-color: transparent;
  margin-top: 10px;
  color: #2F2F2F;
  padding: 5px 10px;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  font-size: 25px;
}

.form_name{
  background-image: url(../images/svg/profile.svg);
}

.form_email{
  background-image: url(../images/svg/envelope.svg);
}

.social_link{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: 100px 100px;
  display: inline-block;
  background-repeat: no-repeat;
}

.social{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0px;
}

.twitter{
  background-image: url(../images/svg/twitter-logo.svg);
}
.github{
  background-image: url(../images/svg/github-logo.svg);
}
.instagram{
  background-image: url(../images/svg/instagram-logo.svg);
}
.linkedin{
  background-image: url(../images/svg/linkedin-logo.svg);
}

.footer p{
  margin: 5px 0px;
  font-size: 20px;
  color: white;
}

.footer p img{
  vertical-align: middle;
}

.thanks{
  text-align: right;
}

.author_link{
  color: #D1D1D1 !important;
  text-decoration: none;
}
