body{
 margin: 0 auto;
}
                    /* fonts and background-colors */
h1, h2, h3, h4, h5, h6{
  font-family: "Fjalla One", sans-serif;
}

header, .hero{
  background-color: #2C2C2C;
}

                    /* flex */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
}
                    /* header */

.header_div{
  width: 230px;
  height: 70px;
}

.logo{
  background-image: url(../images/logo.png);
  background-size: 200px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 70px;
  display: inline-block;
  padding: 0px 15px;
  /* border-right: 5px solid white; */
}

.header_nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
  flex-direction: row;
}

.header_nav li{
  margin: 0px 15px;
  list-style: none;
}

.header_nav li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

                    /* hero */

.hero h1{
  width: 770px;
  margin: 0px;
  font-size: 50px;
  color: white;
  font-weight: bold;
  line-height: 80px;
}

.hero h1 strong{
  color: #456A8C;
}

.platzi_color{
  color: #98ca3f !important;
}

.hero_fig{
  width: 500px;
  height: 550px;
}

.hero_img{
  display: inline-block;
  background-position: center;
  background-position-y: -175px;
  background-position-x: -230px;
  background-repeat: no-repeat;
  background-image: url(../images/hero.jpg);
  background-size: 1008px 756px;
  width: 500px;
  height: 550px;
  object-fit: cover;
}
