/* hero */

.certificates{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray_scale3);
  padding: 10rem 0;
  overflow: hidden;

  /* z-index: 0; */

  & h1{
    font-size: 4rem;
    color: var(--color_brand);
    z-index: 2;
  }

  & .certificates_div h2{
    font-size: 3.5rem;
    color: var(--gray_scale1);
    /* z-index: 2; */
    /* margin-bottom: 2rem; */
  }

  & .certificates_container{
    width: 90%;
    margin: 0 auto;
    z-index: 2;
  }

  & .logo{
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
  }

  & .hero_logo{
    width: 5rem;
  }

  & .certificates_div{
    padding-top: 4rem;

    & img{
      width: 100%;
    }
  }

  & .certificates_div:not(:last-child){
    padding-bottom: 4rem;
  }

  & .certificates_carrer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: var(--midspace);
    grid-template-areas: "header header header"
                         ". . .";

    & h2{
      grid-area: header;
    }
  }

  & .certificates_frontDev{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: var(--midspace);
    grid-template-areas: "header header header"
                         ". . ."
                         ". . ."
                         ". . .";

    & h2{
      grid-area: header;
    }
  }

  & .certificates_courseComp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: var(--midspace);
    grid-template-areas: "header header header"
                         ". . ."
                         ". . ."
                         ". . .";

    & h2{
      grid-area: header;
    }
  }
}

/* .certificates_background{
  position: absolute;
  width: 300%;
  top: -11%;
  transform: rotate(-40deg);

  z-index: 1;

  & .line{
    margin: 50rem 0;
    height: 25rem;
    width: 100%;
    display: block;
    background-color: var(--gray_scale1);
  }
} */

@media (--extra-small) {
  .certificates{

    padding: 5rem 0;
    & h1{
      font-size: 3rem;
    }

    & .certificates_div{
      padding-top: 0;
      & h2{
        font-size: 2.5rem;
      }
    }

    & .certificates_div:not(:last-child) {
      padding-bottom: 2rem;
      }

    & .certificates_carrer{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header"
                           ".";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_frontDev{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header"
                           ".";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_courseComp{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header"
                           ".";

      & h2{
        grid-area: header;
      }
    }
  }
}

@media (--small) {

  .certificates{

    padding: 5rem 0;
    & h1{
      font-size: 3rem;
    }

    & .certificates_div{
      padding-top: 0;
      & h2{
        font-size: 2.5rem;
      }
    }

    & .certificates_div:not(:last-child) {
      padding-bottom: 2rem;
      }

    & .certificates_carrer{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_frontDev{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_courseComp{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }
  }
}

@media (--medium-portrait) {
  .certificates{
    & .certificates_carrer{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_frontDev{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }

    & .certificates_courseComp{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-gap: var(--midspace);
      grid-template-areas: "header header"
                           ". .";

      & h2{
        grid-area: header;
      }
    }
  }
}
