/* about me */
.about_me{
  width: 100%;
  height: 600px;
  background-color: var(--gray_scale3);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
}
.aboutme_leftside, .aboutme_rightside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutme_leftside h1, .aboutme_rightside p{
  font-weight: bold;
  font-size: 3rem;
  color: var(--gray_scale2);
  margin-bottom: 3rem;
  position: relative;
}

.aboutme_leftside h1::after{
  position: absolute;
  content: "";
  width: 8rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: var(--gray_scale2);
  transform: translateY(1rem);
}

.aboutme_leftside p:nth-child(2){
  font-size: 4rem;
  font-weight: bold;
  color: var(--color_brand);
  margin-bottom: 4rem;
}

.aboutme_message{
  font-size: 2rem;
  color: var(--gray_scale1);
  width: 65%;
  text-align: center;
}

.aboutme_message:not(:last-child){
  margin-bottom: 4rem;
}

.aboutme_rightside{
  position: relative;
}

.aboutme_rightside::after{
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  /* background-color: var(--gray_scale1); */
  border-left: 2px solid var(--gray_scale2);
  box-sizing: border-box;
}

.aboutme_certificate{
  width: 50rem;
  box-shadow: 2px 2px 15px 0px rgba(232,233,232,1);
}

.aboutme_button{
  margin-top: 3rem;
}
