/* animations */

.fadeInLeft{
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from{
    opacity: 0.5;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeOutRight{
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-name: fadeOutRight;
}

@keyframes fadeOutRight {
  from{
    opacity: 1;
    transform: translateX(0);
  }
  to{
    opacity: 0.5;
    transform: translateX(100%);
  }
}
