/* hero */
.hero{
  background-image: url(../images/background_hero.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 770px;
}

.hero_logo{
  float: top;
  width: auto;
  height: 5rem;
  margin: 2rem 0 0 2rem;
  grid-area: hero_logo;
}

.hero_info{
  grid-area: hero_info;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10rem;
}

.hero_container{
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.7), rgba(0,0,0,.6), rgba(0,0,0,.6), rgba(0,0,0,.7), rgba(0,0,0,1));
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 0 10rem 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas: "hero_logo ."
                       "hero_info hero_info";
}

.hero_message h1, .hero_message p{
  text-align: left;
  font-weight: bold;
}

.hero_message h1{
  font-size: 2rem;
  color: var(--gray_scale2);
}

.hero_message p{
  font-size: 4rem;
  color: var(--gray_scale1);
}

.hero_calltoaction{
  margin: 70px 0 70px;
  /* width: 100%; */
}

.hero_button:not(:last-child){
  margin-right: 2rem;
}

.hero_social{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 300px;
}

.social{
  display: inline-block;
  width: var(--social_width);
  height: var(--social_height);
  border: 2px solid var(--gray_scale1);
  border-radius: 50%;
  text-align: center;
  /* line-height: 50px; */
  text-decoration: none;
  font-size: 3rem;
  color: var(--gray_scale1);
  /* margin: 0 0 50px 0; */
}

.social::before{
  transition: 0.5s;
}

.social:hover{
  @apply --social_hover;
}

.social::before{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social:not(:last-child){
  margin-right: 2rem;
}

@media (--extra-small) {
  .hero_info{
    margin-left: 0rem;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .hero_calltoaction, .hero_message{
    width: 100%;
  }

  .hero_message h1{
    font-size: 2rem
  }

  .hero_message p{
    font-size: 2.5rem;
  }

  .hero_calltoaction{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 3rem 0;
    height: 12rem;
  }

  .hero_button:not(:last-child){
    margin-right: 0rem;
  }

  .hero_container{
    padding-bottom: 7.5rem;
  }

  .hero_social{
    width: 100%;
  }
}

@media (--small){
  .hero_info{
    margin-left: 5rem;
  }

  .hero_message p{
    font-size: 3rem;
  }

  .hero_calltoaction{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 3rem 0;
    height: 12rem;
  }

  .hero_button:not(:last-child){
    margin-right: 0rem;
  }

  .hero_container{
    padding-bottom: 7.5rem;
  }
}

@media (--medium-portrait) {
  .hero_container{
    padding-bottom: 7.5rem;
  }
}
