/* vars */
:root{
  --minspace: 10px;
  --midspace: 20px;
  --largspace: 30px;

  --social_width: 50px;
  --social_height: 50px;

  --gray_scale1: #E8E9E8;
  --gray_scale2: #888988;
  --gray_scale3: #222322;
  --color_brand: #7CB6D1;

  --icon_services{
    grid-area: icon_menu;
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    text-align: center;
    color: var(--gray_scale1);
    margin-right: 5rem;
    margin: 0 auto;
  };

  --social_hover{
    background-color: var(--gray_scale1);
    color: var(--gray_scale3);
  }

  --contact_button{
    background-color: transparent;
    border: 2px solid var(--gray_scale1);
    color: var(--gray_scale1);
    padding: 1rem 3rem;
    /*transition: 0.5s;*/
    outline: none;
    cursor: pointer;
  };
}

@custom-selector :--calltoaction .hero_button, .aboutme_button, .projectscontent_button;
@custom-selector :--calltoactions .hero_button, .aboutme_button, .projectscontent_button;
@custom-selector :--projects_button .projectscontent_button;
@custom-selector :--CTA_hover :hover;
@custom-selector :--projects_buttonHover :hover;
